@import "./variables";

body{
    main{
        section {
            
            .parrafos{
                
                display: left;
                .titulo{
                    color:$color-text;
                    margin-bottom: 15px;

                    .palabra-clave{
                        color: $colorsec;
                    }
            
                }

                .parrafos-info{
                    margin: 15px;
                }
            }

            .cards{
                margin: 10px 0 10px 0;
            }
           
    
        }

    }

    
}