@import "./variables";

body{
    main{
        section {

            h2{
                .carrito{

                    #btn-comprar {
                        margin-left: 30px;
                        
                    }

                    #ul{

                        li{ 
                        border-bottom: 1px solid #333;
                        padding: 1rem;
                        display: flex;
                        list-style: none;
                        margin-left: auto;
                        margin-right: auto;
                        height: 100px;

                        
                        .img-carrito {
                            display: block;
                            width: 80px;
                            height: 50px;
                            object-fit: contain;
                        }

                        .productContent{

                            h3 {
                                margin-top: 0;
                                margin-bottom: 0.5em;
                            }

                            .product-price {
                                font-weight: bold;
                            }

                        }

                    }

                    }
                }
            }
            
            .parrafos{
                
                display: left;
                .titulo{
                    color:$color-text;
                    margin-bottom: 15px;

                    .palabra-clave{
                        color: $colorsec;
                    }
            
                }

                .parrafos-info{
                    margin: 15px;
                }
            }

            .cards{
                margin: 10px 0 10px 0;
            }
           
    
        }

    }

    
}