@import "./variables";

body{
    section {
      
        .parrafos{

            display: left;
            .titulo{
                color:$color-primary;
                margin: 15px;
        
            }
        }

    }

    
}